@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar { display: none; }

.bg-cover {
  background-image: url('/public/img/assets/star_bg_small.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.icon{
  aspect-ratio: 1 / 1;
}

.swiper-slide{
  overflow-y: auto;
}
.swiper-pagination-vertical > .swiper-pagination-bullet{
  margin: 2rem 2rem !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
  background:  #97dae1  !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.swiper-coverflow .swiper-wrapper{
  padding: 10svh 0;
}

.swiper-coverflow .swiper-slide{
  height: 80svh;
}
.gift_image_wrapper{
  max-height: 80svh !important;
  flex-grow: 1;
  object-fit: contain;
  justify-content: center;
  align-content:center;
}

.iframe-container-div::after { content: ""; background: transparent; width: 100%; height: 100%; min-height: 1px; position: absolute; top: 0; }

.caption{
  width: 100%;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  /* transition: all 5s ease-in-out; */
}

.gift_container:hover .caption{
  display: block;
  height: auto;
}

.yarl__navigation_prev {
  left: 10svw !important;
}

.yarl__navigation_next {
  right: 10svw !important;
}

@media (max-width: 768px) {
  .yarl__navigation_prev, .yarl__navigation_next {
    top: 90svh !important;
  }
}