@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar { display: none; }

.bg-cover {
  background-image: url('/public/img/assets/star_bg_small.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.main-cover{
  /* background-image: url('/public/img/assets/main_img.jpg'); */
  background-image: url('/public/img/assets/2024_Ren_cut.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  object-position: top;
}

.icon{
  aspect-ratio: 1 / 1;
}

.swiper-slide{
  overflow-y: auto;
}
.swiper-pagination-vertical > .swiper-pagination-bullet{
  margin: 2rem 0 !important;
}

.swiper-pagination{
  z-index: 1000 !important;
  right: 2rem !important;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  opacity: 1 !important;
  background:  #97dae1  !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  height: 3rem !important;
}

.gift_swiper_container{
  padding: 10svh 0 !important;
}

.gift_swiper_container .swiper-slide{
  height: 80svh;
}
.gift_image_wrapper{
  /* max-height: 80svh !important; */
  flex-grow: 1;
  object-fit: contain;
  justify-content: center;
  align-content:center;
  overflow: hidden;
}

.iframe-container-div::after { content: ""; background: transparent; width: 100%; height: 100%; min-height: 1px; position: absolute; top: 0; }

.caption{
  width: 100%;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  /* transition: all 5s ease-in-out; */
}

.gift_container:hover .caption{
  display: block;
  height: auto;
}

.yarl__navigation_prev {
  left: 10svw !important;
}

.yarl__navigation_next {
  right: 10svw !important;
}

@media (max-width: 768px) {
  .yarl__navigation_prev, .yarl__navigation_next {
    top: 90svh !important;
  }
}

.rm-audio-player-provider{
  /* --rm-audio-player-interface-container: #97dae1 !important; */
}

.playlist{
  height: 30svh !important;
}

.swiper-button-prev, .swiper-button-next{
  top: 0 !important;
  height: 100% !important;
  width: 10% !important;
  margin-top: 0 !important;
  background-color: rgba(245, 245, 245, .5);
  color: #97dae1 !important;
  z-index: 999 !important;
}

.swiper-button-prev{
  left: 0svw !important;
}
.swiper-button-next{
  right: 0svw !important;
}

#Twitch{
  background-color: #9146ff;
  font-size: 1.5rem;
}

#YouTube{
  background-color: #ff0000;
  font-size: 1.5rem;
}

#Twitter{
  background-color: #1d9bf0;
  font-size: 1.5rem;
}
